<!DOCTYPE html>
<html>
	<head>
		<title>Pair ++</title>
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<div>
			<%= yield	:index %>
		</div>
		<div id="restart">
			<a href="/">(restart)<a>
		</div>
	</body>
</html>


